{% extends "base.html" %}

{% block content %}

<h1>albums</h1>

<p><a href="{% url 'add_album' %}">add new album</p>

<div>
    {% for album in albums %}
    <div class="albums">
        <h2><a href="{% url 'album_detail' pk=album.pk %}">{{ album.title }}</a></h2>
            <div>
                <h3>{{ album.artist }}</h3>
                <h4>added: {{ album.created_at }}</h4>
            </div>
    </div>
        <a href="{% url 'edit_album' pk=album.pk %}">edit album</a><br/>
        <a href="{% url 'delete_album' pk=album.pk %}">delete album</a>
    {% endfor %}
</div>


{% endblock %}